{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur l'animalerie!{% endblock %}

{% block body %}
<div class="container">
        <div class="row mt-3">
            <div class="col-md-4">
                <img class="img-fluid"  src="{{ asset('image/uploads/product/' ~ produit.image) }}">
                <div class="row mt-3">
                    {% for image in produit.images %}
                        <div class="col-md-4">
                            <img class="img-fluid" src="{{ asset('image/uploads/product/' ~ image.NomImage) }}" alt="{{ image.alt }}">
                        </div>
                    {% endfor %}

                    <div class="col-md-4">
                        <img class="img-fluid" src="{{ asset('image/uploads/product/' ~ produit.image) }}">
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <h2>{{ produit.nom }}</h2>
                <br>
                <span>{{ produit.description }}</span>
            </div>

        </div>
    <a class="btn btn-primary" href="{{ path('default') }}">Retour</a>
</div>
{% endblock %}
