{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <div class="container">
    <h1 class="text-center my-5 text-decoration-underline">Tableau des produits</h1>

        <button class="float-end my-5 btn btn-outline-dark "><a href="{{ path('produit_new') }}" class="text-decoration-none">Créer un nouveau produit</a></button>


        <table class="table table-dark table-striped my-5">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOM</th>
                <th>DESCRIPTION</th>
                <th>IMAGE</th>
                <th>PRIX</th>
                <th>PRODUIT PHARE</th>
                <th>NB STAR</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.description|u.truncate(100, '...') }}}</td>
                <td><img class="img-thumbnail w-25" src="{{ asset('image/uploads/product/' ~ produit.image) }}"></td>
                <td>{{ produit.prix }} €</td>
                <td>
                    {% if produit.nbStar is same as(1)%}
                        ⭐️
                    {% elseif produit.nbStar is same as(2)%}
                        ⭐️⭐️
                    {% elseif produit.nbStar is same as(3)%}
                        ⭐️⭐️⭐️
                    {% elseif produit.nbStar is same as(4)%}
                        ⭐️⭐️⭐⭐️
                    {% elseif produit.nbStar is same as(5)%}
                        ⭐️⭐️⭐⭐️⭐️
                    {% endif %}
                </td>
                <td>{{ produit.produitPhare ? 'Oui' : 'Non' }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('produit_show', {'id': produit.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('produit_edit', {'id': produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
{% endblock %}
