<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('css/BC.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('css/cookie.css') }}">
            <link rel="stylesheet" href="{{ asset('css/accordeons.css') }}">


        {% endblock %}


    </head>
    <body>
    {% include 'Parts/menu.html.twig' %}
        {% block body %}{% endblock %}

        <!-- Gestion de cookie -->

        {% if app.request.cookies.get('accepted') != true %}
        <div class="cookie-consent">
            <span>This site uses cookies to enhance user experience. see
                <a href="#" class="ml-1 text-decoration-none">Privacy policy</a>
            </span>
            <div class="mt-2 d-flex align-items-center justify-content-center g-2">
                <a href="{{ path('cookie_authorize') }}">
                <button class="allow-button mr-1">Allow cookies</button>
                </a>
                <button class="allow-button">cancel</button>
            </div>
        </div>
        {% endif %}
        {% include 'Parts/footer.html.twig' %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script rel="script" src="{{ asset('js/bootstrap.bundle.js') }}"></script>
        <script rel="script" src="{{ asset('js/fontAwesome.js') }}"></script>
        <script rel="script" src="{{ asset('js/jquery.js') }}"></script>
    {% endblock %}
    </body>
</html>
